span{
    font-size: 20px;
}
*{
    margin: 30px;
}
img{
    float: right;
    margin-right: 250px;
}
header{
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    line-height: 60px;   
}
